<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>

  <connectionStrings>
    <add name="Main" connectionString="Server=.;UID=sa;PWD=123456;Database=QLKTX;MultipleActiveResultSets=True;Connection Timeout=1" />
  </connectionStrings>
</configuration>
