<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LapTrinhCSharp.Properties.Settings.QLKTXConnectionString" connectionString="Server=(local);Uid=sa;Pwd=123456;Database=KTX" providerName="System.Data.SqlClient" />
    <add name="LapTrinhCSharp.Properties.Settings.CNPMConnectionString" connectionString="Data Source=(local);Initial Catalog=CNPM;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LapTrinhCSharp.Properties.Settings.KTXConnectionString" connectionString="Data Source=(local);Initial Catalog=KTX;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="KTXEntities" connectionString="metadata=res://*/EzModel.csdl|res://*/EzModel.ssdl|res://*/EzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=KTX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>